/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*CSS variables*/
:root {
    --primary-font: "Open Sans", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
    --third-font: "Raleway", sans-serif;
    --primary-color: #2B3A67;
    /* dark blue */
    --secondary-color: #496A81;
    /* blue-grey */
    --highlight-color: #b3af8f;
    /* sage*/
    --background-color-light: #FFC482;
    /* peach */
    --background-color-dark: #66999B;
    /*turquoise*/
}

/*Global styles*/

body {
    font-family: var(--primary-font);
    /*Open Sans*/
    background-color: var(--background-color-light);
    /*peach*/
}

h1,
h2,
h3 {
    color: var(--primary-color);
    /* dark blue */
    font-family: var(--secondary-font);
}

.normal-text {
    font-family: var(--primary-font);
    /*Open Sans*/
    color: var(--primary-color);
    /*dark blue*/
    padding: 32px;
    font-size: large;

}

/*Home-page styles*/


#hero-text {
    font-size: 8rem;
    padding-left: 40px;
    padding-top: 72px;
    text-transform: uppercase;
    color: var(--background-color-dark);
}

#bird-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}

#sub-hero-text {
    text-transform: uppercase;
    font-family: var(--third-font);
    /*Raleway*/
    font-size: 4rem;
    color: var(--background-color-dark);
    /*turquoise*/
    width: 100%;
    text-align: center; 
    margin: 0 auto; 
}

#text-image {
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 15px;
}

/*Navbar styles*/

#navbar {
    font-weight: bold;
    background-color: var(--primary-color);
}

#logo {
    font-size: 2rem;
    color: var(--background-color-light);
    padding-left: 16px;
}

/*to color text in navbar*/
.nav-link-color {
    color: var(--highlight-color)
        /*sage*/
}


/*Footer*/
#footer {
    width: 100%;
    padding: 20px;
    background-color: var(--primary-color); /* Dark blue */
    color: var(--highlight-color); /* Sage */
}

#footer .row {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    justify-content: space-between; /* Distribute columns evenly */
    align-items: center; /* Align items vertically */
    margin: 0;
    padding: 0;
}

#footer .col-md-4 {
    text-align: left; /* Ensure content is aligned properly */
    flex: 1; /* Ensure columns take up equal space */
}

#footer h3 {
    color: var(--highlight-color);
    /*sage*/
}

.social-link {
    color: var(--highlight-color);/*sage*/
    text-decoration: none;
}

/*to give some space around links in the footer*/
.footer-link {
    padding: 0.2rem;
    color: var(--highlight-color);
    /*sage*/
}

/*Contact page styles*/

.contact-form {
    padding: 32px;
    color: var(--primary-color);
    /*dark blue*/
    font-family: var(--primary-font);
    /*Open Sans*/
}

#send-button {
    background-color: var(--primary-color);
    /*dark blue*/
    color: var(--highlight-color);
    /*sage*/
    font-family: var(--primary-font); /*Open Sans*/
    font-weight: bold;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

/*Looking for a job page styles*/

.job-card {
    background-color: var(--background-color-dark);
    /*turquoise*/
    color: var(--highlight-color);
    /*sage*/
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
}