/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*CSS variables*/
:root {
    --primary-font: "Open Sans", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
    --third-font: "Raleway", sans-serif;
    --primary-color: #0FA3B1;
    /* turquoise/moonstone*/
    --secondary-color: #B5E2FA;
    /* light-blue */
    --highlight-color: #EDDEA4;;
    /*Cream/Vanilla*/
    --background-color-light: #F9F7F3;
    /* Light pink/Babypwoder*/
    --background-color-dark: #F7A072;
    /*Orange/Atomic Tangerine*/
}

/*Global styles*/

body {
    font-family: var(--primary-font);
    /*Open Sans*/
    background-color: var(--background-color-light);
    /* Light pink/Babypwoder*/
}

h1,
h2 {
    color: var(--background-color-dark);
    /*Orange/Atomic Tangerine*/
    font-family: var(--secondary-font);
}

.h3-right {
    color: var(--background-color-dark);
    /*Orange/Atomic Tangerine*/
    font-family: var(--secondary-font);
    text-align: right;
    padding: 40px;
    font-size: 3rem;
}

.h3-left {
    color: var(--background-color-dark);
    /*Orange/Atomic Tangerine*/
    font-family: var(--secondary-font);
    text-align: left;
    padding: 40px;
    font-size: 3rem;
}


.normal-text {
    font-family: var(--primary-font);
    /*Open Sans*/
    color: #36454F;
   /*dark-gray*/
    padding: 48px;
    font-size: large;

}

/*Home-page styles*/


#hero-text {
    font-size: 8rem;
    padding: 40px;
    padding-top: 72px;
    text-transform: uppercase;
    color: var(--background-color-dark);
    /*Orange/Atomic Tangerine*/
    letter-spacing: 0.1rem;
}

#bird-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}

.sub-hero-text {
    text-transform: uppercase;
    font-family: var(--third-font);
    /*Raleway*/
    font-size: 4rem;
    color: var(--background-color-dark);
    /*Orange/Atomic Tangerine*/
    width: 100%;
    text-align: center; 
    margin: 0 auto; 
}

#text-image {
    width: 90%;
    max-height: 200px;
    max-width: 400px;
    margin: auto;
    border-radius: 15px;
    align-self: center;
    display: block;
    justify-self: center;
}

/*Navbar styles*/

#navbar {
    font-weight: bold;
    background-color: var(--primary-color);
}

#logo {
    font-size: 2rem;
    color: var(--highlight-color); /*Cream/Vanilla*/
    padding-left: 16px;
}

/*to color text in navbar*/
.nav-link-color {
    color: var(--highlight-color); /*Cream/Vanilla*/
}


/*Footer*/
#footer {
    width: 100%;
    padding: 20px;
    background-color: var(--primary-color);
    /* turquoise/moonstone*/
    color: var(--highlight-color);
    /*Cream/Vanilla*/
}

#footer .row {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    justify-content: space-between; /* Distribute columns evenly */
    align-items: center; /* Align items vertically */
    margin: 0;
    padding: 0;
}

#footer .col-md-4 {
    text-align: left; /* Ensure content is aligned properly */
    flex: 1; /* Ensure columns take up equal space */
}

#footer h3 {
    color: var(--highlight-color); /*Cream/Vanilla*/
}

.social-link {
    color: var(--highlight-color); /*Cream/Vanilla*/
    text-decoration: none;
}

/*to give some space around links in the footer*/
.footer-link {
    padding: 0.2rem;
    color: var(--highlight-color); /*Cream/Vanilla*/
}

/*Contact page styles*/

.contact-form {
    padding: 32px;
    color: var(--primary-color); /* turquoise/moonstone*/
    font-family: var(--primary-font); /*Open Sans*/
}

#send-button {
    background-color: var(--primary-color);
    /* turquoise/moonstone*/
    color: var(--highlight-color);
    /*Cream/Vanilla*/
    font-family: var(--primary-font); /*Open Sans*/
    font-weight: bold;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

/*Looking for a job page styles*/

.job-section {
    padding: 40px;
}

#arrow-img {
    text-align: center;
    padding: 32px;
    font-size: 8rem
}

.job-card {
    background-color: var(--background-color-dark);
    /*Orange/Atomic Tangerine*/
    color: var(--background-color-light);
    /* Light pink/Babypwoder*/
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
    font-family: var(--primary-font); /*Open Sans*/
}

.job-button {
    background-color: var(--primary-color);
    /* turquoise/moonstone*/
    color: var(--background-color-light);
    /* Light pink/Babypwoder*/
    font-family: var(--primary-font); /*Open Sans*/
    font-weight: bold;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.job-button:hover {
    background-color: var(--highlight-color);
    /*Cream/Vanilla*/
    color: var(--primary-color);
    /* turquoise/moonstone*/
}

.job-image {
    width: 100%;
    max-width: 300px;
    height: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}
