/*Google fonts import*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/*CSS variables*/
:root {
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --third-font: "Raleway", sans-serif;
  --primary-color: #246EB9;
  /*blue sapphire*/
  --secondary-color: #4CB944;
   /*dark pastel green*/
  --highlight-color: #F5EE9E;
  /*Cream/Vanilla*/
  --background-color-light: #FDFFFC;
  /*baby powder*/
  --background-color-dark: #F06543;
  /*tomato red*/
}

/*Global styles*/

body {
  font-family: var(--primary-font);
  /*Open Sans*/
  background-color: var(--background-color-light);
  /* Light pink/Babypwoder*/
}

.main-content {
  padding-top: 42px;
  padding-left: 0.5%;
  padding-right: 0.5%;
  padding-bottom: 42px;
}

h1,
h2 {
  color: var(--background-color-dark);
  font-family: var(--secondary-font);
}

.h3-right {
  color: var(--background-color-dark);
  font-family: var(--secondary-font);
  text-align: center;
  padding: 16px;
  font-size: 3rem;
}

.h3-left {
  color: var(--background-color-dark);
  font-family: var(--secondary-font);
  text-align: left;
  padding: 40px;
  font-size: 3rem;
}

.normal-text {
  font-family: var(--primary-font);
  /*Open Sans*/
  color: #36454f;
  /*dark-gray*/
  padding: 48px;
  font-size: large;
}

.custom-button {
  background-color: var(--primary-color);
  /* turquoise/moonstone*/
  color: var(--background-color-light);
  /* Light pink/Babypwoder*/
  font-family: var(--primary-font); /*Open Sans*/
  font-weight: bold;
  padding: 12px;
  border-radius: 8px;
  border: none;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: var(--highlight-color);
  /*Cream/Vanilla*/
  color: var(--primary-color);
}

/*Home-page styles*/

#hero-text {
  text-align: center;
  font-size: 7rem;
  padding-left: 40px;
  padding-top: 72px;
  text-transform: uppercase;
  color: var(--background-color-dark);
  letter-spacing: 0.1rem;
}

#bird-image img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}

.sub-hero-text {
  text-transform: uppercase;
  font-family: var(--third-font);
  font-size: 4rem;
  color: var(--background-color-dark);
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

#quote {
  font-family: var(--third-font);
  font-size: 1.5rem;
  background-color: var(--background-color-dark);
  color: var(--background-color-light);
  text-align: center;
  padding: 32px;
  border-radius: 8px;
}

/*Navbar styles*/

#navbar {
  font-weight: bold;
  background-color: var(--primary-color);
}

#logo {
  font-size: 2rem;
  color: var(--background-color-light);
  padding-left: 16px;
}

#logo:hover {
  color: var(--secondary-color);
  text-decoration: none;
  transition: background-color 0.3s ease;
}

/*to color text in navbar*/
.nav-link-color {
  color: var(--background-color-light);
}

.nav-link-color:hover {
  color: var(--secondary-color);
  text-decoration: none;
  transition: background-color 0.3s ease;
}

#navbar .active {
  color: var(--secondary-color);
  text-decoration: none;
  transition: background-color 0.3s ease;
}

/*Footer*/
#footer {
  width: 100%;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--background-color-light);
}

#footer .row {
  justify-content: space-between; /* Distribute columns evenly */
  align-items: center; /* Align items vertically */
  margin: 0;
  padding: 0;
}

#footer .col-md-4 {
  text-align: left; /* Ensure content is aligned properly */
  flex: 1; /* Ensure columns take up equal space */
}

#footer h2 {
  color: var(--background-color-light); 
}

.social-link {
  color: var(--background-color-light); 
  text-decoration: none;
}

.social-link:hover {
  color: var(--secondary-color);
  text-decoration: none;
  transition: background-color 0.3s ease;
}

/*Contact page styles*/

#contact-form {
  background-color: var(--background-color-light);
  padding: 32px;
  color: #36454f;
  font-family: var(--primary-font); 
  max-width: 1400px;
  margin: 0 auto;
}

#send-button {
  background-color: var(--primary-color);
  color: var(--highlight-color);
  font-family: var(--primary-font); 
  font-weight: bold;
  padding: 12px;
  border-radius: 8px;
  border: none;
  transition: background-color 0.3s ease;
}

#cv-send {
  color: #36454f;
}
/*Looking for a job page styles*/

#arrow-img {
  text-align: center;
  padding: 16px;
  font-size: 8rem;
}

.job-card {
  background-color: var(--background-color-dark);
  color: var(--background-color-light);
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
  font-family: var(--primary-font); 
  align-items: center;
}


.job-image {
  width: 100%;
  max-width: 300px;
  height: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
}

/*Thank you page styles*/

#phone-link {
  text-decoration: none;
  font-weight: bold;
  color: #36454f;
}

/*Data Policy page styles*/

#data-policy {
  padding: 24px;
  font-family: var(--primary-font);
  /*Open Sans*/
  color: #36454f;
}

#policy-header {
  font-size: 3rem;
  font-family: var(--secondary-font);
  padding: 4px
}

.list-header {
  font-family: var(--primary-font);
  padding: 8px;
  font-size: 1.5rem;
  font-weight: bold;
}

.policy-link {
  color: var(--primary-color);
  /* turquoise/moonstone*/
  text-decoration: none;
}


/*Media queries*/
@media (max-width: 768px) {
  #hero-text {
    font-size: 4rem;
    padding: 20px;
    padding-top: 40px;
  }

  .sub-hero-text {
    font-size: 2rem;
    padding: 16px;
  }

  .quote {
    font-size: 1rem;
    padding: 16px;
  }

  .h3-left {
    font-size: 2.5rem;
    text-align: center;
  }

  .h3-right {
    font-size: 2.5rem;
    text-align: center;
  }

  .normal-text {
    font-size: medium;
    padding: 24px;
  }

  #bird-image img {
    max-width: 80%;
    height: auto;
    padding: 16px;
    padding-top: 0px;
  }

  .job-card {
    height: auto;
    padding: 16px;
  }
}

@media screen and (min-width: 1200px) {
  #hero-text {
    font-size: 11rem;
  }
  #bird-image img {
    max-width: 700px;
    height: auto;
  }
.sub-hero-text {
  text-align: left;
  font-size: 5rem;
}
}